th,
td {
  text-align: left;
  padding: 25px;
}
.servicesManagement {
  background-color: gray;
  min-height: 500px;
  width: 90%;
  overflow-y: scroll;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.281);
  padding: 10px;
  color: white;
  margin: 0 auto;
}
.servicesManagementTable {
  width: 100%;
}
