.footerHeader {
	background-image: url(../../../../images/services4.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	margin-top: 150px;
	color: white;
}
.callIcon img {
	width: 90px;
	margin-right: 15px;
}

@media only screen and (max-width: 800px) {
	.footerHeader {
		text-align: center;
	}
	.callPart {
		margin: 15px 10px;
		justify-content: center;
	}
	.callPart p {
		font-size: 20px;
		color: blanchedalmond;
	}
	.callIcon img {
		width: 50px;
		margin-right: px;
	}
}
