.topBanner {
	height: 700px;
	background-image: linear-gradient(147deg, #000000ca 0%, #43434391 74%),
		url(../../../../images/plumbing1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px;
}

.topBanner h1 {
	font-size: 80px;
	color: white;
	font-weight: bold;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

@media only screen and (max-width: 900px) {
	.topBanner h1 {
		font-size: 50px;
		color: white;
		font-weight: bold;
		width: 90%;
	}
}
