.makeAdminSection {
  color: cornsilk;
  font-weight: bold;
  background-color: darkgrey;
  width: 500px;
  height: 400px;
  padding: 50px;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  .makeAdminSection {
    width: 370px;
  }
}
