.form {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.287);
}

.form input {
  width: 100%;
  outline: none;
  height: 40px;
  padding: 10px;
}

.nameBox,
.emailBox,
.passwordBox {
  margin: 10px 30px;
}
.changeFormBtn {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form {
    width: 400px;
  }
}
