.service-card {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
  }
  
  .service-card:hover {
    background-color: #3e8e41;
    color: white;
    box-shadow: 2px 2px 4px 8px lightgray;
  }