.servicesPart {
	min-height: 800px;
	background-image: linear-gradient(315deg, #4854619d 0%, #28313bbb 74%),
		url(../../../images/water.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.servicesHeader {
	color: white;
	text-align: center;
	justify-content: center;
}
